body {
    font-family: 'Exo 2', sans-serif;
}
/*NAVBAR CLASSES*/
.blog-nav {
    padding: 10px;
    background: #808080;
    margin-bottom:0;
    border:0px;
    color:black
}
.logo{
    font-size: 35px;
}
.logo:hover{
    color:black;
}
.blog-nav small{
    font-size:17px;
}
.nav-border a:hover, :focus{
    text-decoration:none;
}
.navbar-default .navbar-brand{
    color:white;
}
.navbar-default .navbar-brand:hover{
    color:black;
}
/*ARTICLES CSS*/
.article-blog {
    float: left;
    /*width:450px;*/
    width: 100%;
    height: 875px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.witcher {
    background-image: url(../images/witcher3.jpg);
    background-size: cover;
    background-position: center;
}

.article-blog:hover {
    opacity: 0.8;
}

.botw {
    background-image: url(../images/botw.jpg);
    background-size: cover;
    background-position: center;
}

.wd2 {
    background-image: url(../images/watchdogs2.jpg);
    background-size: cover;
    background-position: center;
}

.persona5 {
    background-image: url(../images/persona5.jpg);
    background-size: cover;
    background-position: center;
}

article header {
    padding: 0.5em;
    font-size: 40px;
    font-weight: bold;
    color: white
}

div.col-md-2 {
    padding: 0;
}
div.container-fluid {
    background-color: #D1C9BE;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
